@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
#modh2 h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.8;}

.cirper{}

center {
    display: block;
    text-align: -webkit-center;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}




.parallax {
    /* The image used */

    /* Set a specific height */
    
	height:100%;
	width:100%;

    /* Create the parallax scrolling effect*/ 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	-moz-background-size: cover; -webkit-background-size: cover;
	
}

.hidder{ overflow:hidden; }


.mymenuimage {
  display: block;
  width: 100%;
  height: auto;
  border-radius:50%; top: 50%; left:50%; position:relative;transform: translate(-50%, -50%);
}

.circle{border-radius:50%; top: 50%; left:50%; position:relative;transform: translate(-50%, -50%);}
.circlee{border-radius:50%; top: 50%; position:relative;transform: translate(-50%, -50%);}

.meincircle{display: block;
  width: 20%;
  height: auto; border-radius:50%; top: 50%; left:50%; position:relative;transform: translate(-50%, -50%);}
  
.menucontainer {
  position: relative;
  width: 7%;
}

.menuimage {
  display: block;
  width: 100%;
  height: auto;
  border-radius:50%; top: 50%; left:50%; position:relative;transform: translate(-50%, -50%);
}

.menuoverlay {
  position: absolute;
  border-radius:50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
  transform: translate(0%, -50%);
}
:focus{
	outline: 0px solid white;
}
.menucontainer:hover .menuoverlay {
  opacity: 0.90;
}

.menutext {
  color: white;
  font-size: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.resumeimg{width:30%; height:150%; margin-top:-7%; min-width:200px;}

@media screen and (max-width: 270px){
	.parallax{
		background-size:cover;
	}
	.meincircle{
		height: 80px;
		width: 80px;
	}
	.abtmetxt{
		font-size: 85%;
	}
}

@media screen and (max-width: 767px) {
  #modh2 h2 {font-size:30px;}
}
 
@media screen and (max-width: 270px){
	.parallax{
		background-size:cover;
	}
	.meincircle{
		height: 70%;
		width: 70%;
	}
	.abtmetxt{
		font-size: 85%;
	}
}



/*-------------------slider-----------*/

.sl-content{max-width:800px;margin:auto}
.sl-container{position:relative}
.sl-black{color:#fff!important;background-color:#000!important}
.sl-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.sl-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.sl-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}


/*-------------------circle-----------*/


@-webkit-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@keyframes 
load { 0% {
stroke-dashoffset:0
}
}


.edu {
  position: relative;
  display: inline-block;
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 20px;
}
/* Container */

.progressc {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-left: 6%;
  text-align: center;
}

/* Item */

.progressc>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}

.progressc>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -2rem;
  font-weight: 400;
}

.progressc>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.progressc svg {
  width: 10rem;
  height: 10rem;
}

.progressc svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.progressc svg:nth-child(2) path {
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 629;
  stroke: grey;
  -webkit-animation: load 2s;
  -moz-animation: load 2s;
  -o-animation: load 2s;
  animation: load 2s;
}


/*-------------------circle-----------*/


